.app {
  /*position: absolute;*/
  /*top: 40%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 280px;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
}