body {
    margin: 0;
    padding: 0;
    background-color: #f7e4cb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div0{
    position: absolute;
    top:  50px;
    left: 680px;
}
.div1{
    position: absolute;
    top:  100px;
    left: 600px;
    max-width: 100px;
    max-height: 100px;
}
.div2{
    position: absolute;
    top:  100px;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    max-height: 100px;
}
.div3{
    position: absolute;
    top:  100px;
    right: 600px;
    max-width: 100px;
    max-height: 100px;
}
.n1{
    position: absolute;
    top:  200px;
    left: 600px;
}
.n2{
    position: absolute;
    top:  200px;
    justify-content: center;
    align-items: center;
}
.n3{
    position: absolute;
    top:  200px;
    right: 600px;
}
